name: Doc Builder
permissions:
  contents: read
on:
  release:
    types: [published]
jobs:
  build:
    name: Doc Builder
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node 20.x
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Build docs
        run: yarn build-docs
      - name: Upload docs
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs
  deploy:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy docs
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
